<mat-card>
  <h1>Users table
    <button (click)="addUser()" mat-button>Add User</button>
  </h1>

  <mat-table [dataSource]="usersDataSource" [trackBy]="userTrackBy">

    <!-- Edit User Column Definition -->
    <ng-container matColumnDef="edit">
      <mat-header-cell *matHeaderCellDef class="icon-header"></mat-header-cell>
      <mat-cell *matCellDef="let user" class="icon-column">
        <button (click)="editUser(user)" mat-icon-button>
          <mat-icon svgIcon="core:edit"></mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <!-- User Column Definitions -->
    <ng-container *ngFor="let def of userData" [matColumnDef]="def.colDef">
      <mat-header-cell *matHeaderCellDef>{{def.headerDef}}</mat-header-cell>
      <mat-cell *matCellDef="let user">{{user[def.celDef]}}</mat-cell>
    </ng-container>

    <!-- Delete User Column Definition -->
    <ng-container matColumnDef="delete">
      <mat-header-cell *matHeaderCellDef class="icon-header"></mat-header-cell>
      <mat-cell *matCellDef="let user" class="icon-column">
        <button (click)="deleteUser(user)" mat-icon-button>
          <mat-icon svgIcon="core:delete"></mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <!-- Header and Row Declarations -->
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let user; columns: displayedColumns"
             [style.background]="selectedUser === user ? 'rgba(0,0,0,.1)' : null"
             (click)="selectUser(user)"></mat-row>

  </mat-table>

  <mat-paginator [length]="usersLength" [pageSize]="10" [pageSizeOptions]="[10, 25, 50]">
  </mat-paginator>
</mat-card>
