<mat-card class="demo-table-card">
  <h3>Users table
    <button (click)="addRow()" disabled>Add</button>
  </h3>

  <mat-table [dataSource]="usersDataSource" [trackBy]="userTrackBy">

    <!-- Column Definitions -->
    <ng-container *ngFor="let def of data" [matColumnDef]="def.colDef">
      <mat-header-cell *matHeaderCellDef>{{def.headerDef}}</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row[def.celDef]}}</mat-cell>
    </ng-container>

    <!-- Header and Row Declarations -->
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

  </mat-table>

  <mat-paginator [length]="usersLength" [pageSize]="10" [pageSizeOptions]="[10, 25, 50]">
  </mat-paginator>
</mat-card>