<h2 mat-dialog-title>{{data.title}} User</h2>
<mat-dialog-content>
  <ng-container *ngFor="let def of userData">
    <mat-form-field>
      <input matInput
             [(ngModel)]="user[def.celDef]"
             [placeholder]="def.headerDef"
             [type]="def.type">
    </mat-form-field>
    <br>
  </ng-container>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancel</button>
  <!-- Can optionally provide a result for the closing dialog. -->
  <button mat-button [mat-dialog-close]="user">OK</button>
</mat-dialog-actions>