.bar {
  fill: #aaa;
  height: 21px;
  transition: fill .3s ease;
  cursor: pointer;

  text {
    fill: #555;
  }
}

.chart:hover,
.chart:focus {
  .bar {
    fill: #aaa;
  }
}

.bar:hover,
.bar:focus {
  fill: #ffd740 !important;
}

figcaption {
  font-weight: bold;
  margin-bottom: 1em;
}

.faint {
  font-weight: inherit;
  color: #999;
}
